@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

* {
  font-family: "Lato", sans-serif;
}
body {
  background-color: rgb(189, 185, 185);
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin: -0.3em 0 0 0.4em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  transform: rotateZ(45deg);
}

#navbarDropdown,
#navbarDropdown1,
#navbarDropdown2,
#navbarDropdown3 {
  color: white;
  font-size: 16px;
  padding: 0px 29px 0px 17px;
  font-weight: 900;
}

div#navbarSupportedContent.collapse.navbar-collapse {
  padding: 4px 0px 0px;
}
#navbarDropdown4 {
  color: #de8ae5;
  font-size: 16px;
  padding: 0px 29px 0px 17px;
  font-weight: 900;
}
.misc {
  font-size: 16px;
  color: white;
}

.fa.fa-search {
  color: white;
  margin-top: 30px;
}

.high {
  border-bottom: 1px solid rgb(165, 159, 159);
  margin: 0 auto 20px;
  padding: 10px 0;
}

.fas.fa-highlighter {
  color: black;
  margin-right: 20px;
}

ul.navbar-nav {
  margin: 0 auto;
}

ol.carousel-indicators li.active {
  background-color: hotpink;
}

.carousel-indicators {
  bottom: -50px;
}
#sec1 {
  margin-top: 50px;
}
a{
  text-decoration: none !important;
  color: black;
}

.bonus.mx-3.my-auto{
  color: white;
  background-color: purple;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 900;
}

.diff span.price_before{
  font-size: 8px;
}

.diff span.price_now {
  font-weight: 600;
  font-size: 16px;

}

div .card-body{
  font-size: 14px;
}
.col-6.col-md-3{
  border-radius: 0px !important;

}
 div.container-fluid.description{
   margin: 15px 0px 15px 0px;
  border-bottom: 1px solid rgb(165, 159, 159);
  border-top: 1px solid rgb(165, 159, 159);
 }

 .purp{
   color: purple;
   font-size: 12px;
   }
 div.gog-round{
   padding-left: 25px;
   border-left: 1px solid rgb(165, 159, 159);
   
 }

 div.container.visa{
   background-image: url(image/tile22.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100px;
   background-position-y: -200px ;
   padding: 0;
   margin-bottom: 15px;
   
  }
